@use './variables' as v;
@use './utils' as u;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    padding-top: u.rem(90);
    line-height: 1.3;
    font-family: 'Pretendard';
    color: v.$Color_Conts_Black;
    font-weight: 500;
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
}

button {
    cursor: pointer;
}