@use './utils' as u;
// 기본 스타일

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    padding-top: u.rem(90);
    line-height: 1.3;
    font-family: 'Pretendard'
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
}

button {
    cursor: pointer;
}