// 기본 스타일

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    padding-top: 90px;
    line-height: 1.3;
}

a {
    text-decoration: none;
    display: block;
}