@use './variables' as v;
@use './utils' as u;
// button, card, modal etc

// swiper pagination
.my-pagination {
    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        background-color: #aaa;
        margin: 0 8px;
        border-radius: 50%;
        opacity: 0.5;
        transition: all 0.3s;
    }

    .swiper-pagination-bullet-active {
        background-color: v.$Color_Head_Black;
        opacity: 1;
        transform: scale(1.3);
    }
}

// button 
.btn-black {
    padding: u.rem(15) u.rem(60);
    background-color: v.$Color_Btn_Black;
    color: v.$Color_White;
    font-family: 'Pretendard';
    border-radius: u.rem(50);
    font-size: u.rem(18);
    transition: 0.2s all ease;

    &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
        transform: scale(1.02) translateY(-2px);
    }
}

.btn-theme {
    padding: u.rem(10) u.rem(20);
    background-color: v.$Color_Silver;
    color: v.$Color_Conts_Black;
    font-family: 'Pretendard';
    font-size: u.rem(16);
    border-radius: u.rem(50);
    display: inline-block;
    transition: 0.2s all ease;

    &--active {
        background-color: v.$Color_Primary;
    }

    &:not(&--active):hover {
        background-color: v.$Color_ExtraL_Primary;
    }
}



// card
.card-theme {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 0.3s ease;
    max-width: u.rem(290);
    height: u.rem(514);
    border: 1px solid v.$Color_L_Grey;

    &__link {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__img-wrap {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__img {
        @include u.img(100%, 100%);
        transition: transform 0.3s ease;
    }

    &:hover &__img {
        transform: scale(1.05);
    }

    &__overlay {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:hover &__overlay {
        opacity: 1;
    }

    &__text-wrap {
        position: absolute;
        bottom: u.rem(20);
        left: u.rem(20);
        color: v.$Color_White;
        font-family: 'Paperozi';
        word-break: keep-all;
        display: none;
        transition: 0.3s ease;
    }

    &:hover &__text-wrap {
        display: block;
    }

    &__title {
        font-size: u.rem(20);
        margin-bottom: u.rem(6);
    }

    &__artist {
        display: flex;
        align-items: center;
        gap: u.rem(4);
    }

    &__artist-img {
        width: u.rem(24);
        height: u.rem(24);
        border-radius: u.rem(50);
        background-color: v.$Color_White;
        overflow: hidden;
    }

    &__artist-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__artist-name {
        font-size: u.rem(16);
        font-weight: 300;
    }
}