@use './variables' as v;
@use './utils' as u;
// button, card, modal etc

// swiper pagination
.swiper-pagination {
    &-bullet {
        width: 10px !important;
        height: 10px !important;
        background-color: #fff;
        margin: 0 8px;
        border-radius: 50%;
        opacity: 0.5;
        transition: all 0.3s;
    }

    &-bullet-active {
        background: v.$Color_Head_Black !important;
    }
}

// breadcrumb
.breadcrumb {
    @include u.flex(flex, baseline, center);
    font-weight: 500;
    font-size: u.rem(14);
    gap: u.rem(6);
    color: v.$Color_L_Grey;

    &__item:hover {
        color: v.$Color_Btn_Black;
    }

    &__item--current {
        color: v.$Color_Foot_Black;
        font-weight: 700;
    }

    @include u.responsive(md) {
        display: none
    }
}

// pagination
.pagination {
    @include u.flex(flex, center, center);
    gap: u.rem(20);

    &__btn {
        @include u.btnReset();
        font-size: 1rem;
        color: v.$Color_D_Grey;
        transition: 0.2s ease;

        &:hover {
            color: v.$Color_Btn_Black;
        }

        &.disabled {
            opacity: 0.3;
            cursor: default;
        }
    }

    &__pages {
        @include u.flex();
        gap: u.rem(24);
    }

    &__page {
        font-size: u.rem(20);
        cursor: pointer;
        color: v.$Color_Conts_Black;

        &.is-current {
            font-weight: 600;
            color: v.$Color_Btn_Black;
            border-bottom: 2px solid v.$Color_Btn_Black;
        }

        &:hover {
            color: #000;
        }
    }
}

// filter tabs
.filter-tabs {
    @include u.flex(flex, baseline, center);
    gap: u.rem(10);
    font-weight: 100;
    font-size: u.rem(20);

    &__btn {
        @include u.btnReset();
        font-size: u.rem(18);
        font-weight: 400;
        color: v.$Color_D_Grey;
        flex-wrap: wrap;

        &--active {
            font-weight: 600;
            color: v.$Color_Conts_Black;
        }
    }

    &__divider {
        color: v.$Color_D_Grey;
    }
}

// button 
.btn-black {
    padding: u.rem(15) u.rem(60);
    background-color: v.$Color_Btn_Black;
    color: v.$Color_White;
    font-family: 'Pretendard';
    border-radius: u.rem(50);
    font-size: u.rem(18);
    transition: 0.2s all ease;

    &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
        transform: scale(1.02) translateY(-2px);
    }

    @include u.responsive(sm) {
        font-size: u.rem(14);
        padding: u.rem(12) u.rem(30);
    }
}

.btn-theme {
    padding: u.rem(10) u.rem(20);
    background-color: v.$Color_Silver;
    color: v.$Color_Conts_Black;
    font-family: 'Pretendard';
    font-size: u.rem(16);
    border-radius: u.rem(50);
    display: inline-block;
    transition: 0.2s all ease;

    &--active {
        background-color: v.$Color_Primary;
    }

    &:not(&--active):hover {
        background-color: v.$Color_ExtraL_Primary;
    }
}

.tag {
    padding: u.rem(5) u.rem(15);
    font-size: 1rem;
    font-weight: 300;
    border: 1px solid v.$Color_L_Grey;
    border-radius: 50px;
    color: v.$Color_D_Grey;
    display: inline-block;

    @include u.responsive(sm) {
        padding: u.rem(4) u.rem(10);
        font-size: u.rem(14);
    }
}



// card
.card-theme-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: u.rem(50) u.rem(25);

    @include u.responsive(xl) {
        grid-template-columns: repeat(4, 1fr);
    }

    @include u.responsive(lg) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include u.responsive(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include u.responsive(sm) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card-theme {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 100%;
    max-width: u.rem(290);
    height: u.rem(500);

    &__link {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__img-wrap {
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px solid v.$Color_L_Grey;
        border-radius: 1rem;
        overflow: hidden
    }

    &__img {
        @include u.img(100%, 100%);
        transition: transform 0.3s ease;
    }

    &:hover &__img {
        transform: scale(1.05);
    }

    &__overlay {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:hover &__overlay {
        opacity: 1;
    }

    &__text-wrap {
        position: absolute;
        width: 90%;
        bottom: u.rem(20);
        left: u.rem(20);
        color: v.$Color_White;
        font-family: 'Paperozi';
        word-break: keep-all;
        display: none;
        transition: 0.3s ease;
    }

    &:hover &__text-wrap {
        display: block;
    }

    &__title {
        font-size: u.rem(20);
        margin-bottom: u.rem(6);
    }

    &__artist {
        display: flex;
        align-items: center;
        gap: u.rem(4);
    }

    &__artist-img {
        width: u.rem(24);
        height: u.rem(24);
        border-radius: u.rem(50);
        background-color: v.$Color_White;
        overflow: hidden;
    }

    &__artist-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__artist-name {
        font-size: u.rem(16);
        font-weight: 300;
    }

    @include u.responsive(lg) {
        width: 100%;
        max-width: u.rem(250);
        height: u.rem(380);

        &__link {
            display: flex;
            flex-direction: column;
            gap: u.rem(15);
            width: 100%;
            max-width: u.rem(250);
            height: u.rem(380);
        }

        &:hover &__img {
            transform: none;
        }

        &:hover &__overlay {
            opacity: 0;
        }

        &:hover &:__text-wrap {
            display: flex;
        }

        &__overlay {
            display: none;
        }

        &__text-wrap {
            position: static;
            background: v.$Color_White;
            color: v.$Color_Conts_Black;
            padding: u.rem(12), u.rem(8);
            display: block;
        }

        &__title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            width: 100%;
        }
    }

    @include u.responsive(sm) {
        &__link {
            gap: u.rem(10);
        }

        &__title {
            font-size: u.rem(20);
        }
    }
}

.card-theme-list {
    @include u.flex(flex, baseline, start, column);
    gap: u.rem(10);

    &__img-wrap {
        width: 100%;
        // height: u.rem(285);
        aspect-ratio: 20 / 19;
        border-radius: u.rem(20);
        overflow: hidden;
        border: 1px solid v.$Color_L_Grey;

        @include u.responsive(sm) {
            width: 100%;
            aspect-ratio: 210/245;
        }
    }

    &__img {
        @include u.img(100%, 100%);
    }

    &__title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: u.rem(18);
        width: 100%;
        font-family: 'Paperozi';
        min-height: calc(1.3em * 2)
    }

    &__artist {
        @include u.flex(flex, baseline, center);
        gap: u.rem(8);
    }

    &__artist-img {
        width: u.rem(22);
        height: u.rem(22);
        border-radius: 50px;
        border: 0.5px solid v.$Color_L_Grey;
        overflow: hidden;

        img {
            @include u.img(100%, 100%)
        }
    }

    &__artist-name {
        font-size: 1rem;
        font-weight: 400;
    }
}