@use './variables' as v;
@use './utils' as u;

.container {
    max-width: 1600px;
    width: 100%;
    padding: 0 u.rem(20);
    margin: 0 auto;
    overflow: hidden;

    @include u.responsive(xxl) {
        max-width: 100%;
    }
}

.header {
    width: 100%;
    height: u.rem(90);
    background-color: v.$Color_White;
    @include u.position(fixed, 0, 0, none);
    box-shadow: 0 u.rem(3) u.rem(10) rgba(0, 0, 0, 0.05);
    z-index: 2000;
    font-size: u.rem(20);

    &__container {
        @include u.flex(flex, space-between, center);
        height: 100%;
    }

    &__logo {
        a {
            width: u.rem(130);
            height: u.rem(90);
            position: relative;
        }

        img {
            @include u.position();
        }
    }

    &__nav {
        display: block !important;
    }

    &__right {
        @include u.flex(flex, center, center);
        gap: u.rem(15);
    }

    &__menu {
        @include u.flex(flex, center, center);
        gap: u.rem(70);

        a {
            font-size: u.rem(18);
            color: v.$Color_Foot_Black;
        }
    }

    &__search {
        width: u.rem(250);
        background-color: v.$Color_L_Grey;
        border-radius: u.rem(50);
        padding: u.rem(13) u.rem(15);
        @include u.flex(flex, space-between, center);
        gap: u.rem(8);

        input {
            width: 100%;
            @include u.btnReset();
            font-size: 1rem;
        }
    }

    &__mobile-btns {
        @include u.flex(flex, center, center);
        gap: u.rem(15);
    }

    .search__icon,
    .hamburger {
        @include u.btnReset();
        display: none;
        cursor: pointer;
        transition: 0.2s;
    }

    .search__icon {
        font-size: u.rem(22);

        &.active {
            color: v.$Color_Primary;
        }
    }

    .hamburger {
        font-size: u.rem(26);

        &.active {
            color: v.$Color_Primary;
        }
    }

    &__bg {
        display: none;
        position: fixed;
        background-color: v.$overlay-bg;
        top: u.rem(90);
        left: 0;
        width: 100%;
        height: calc(100vh - u.rem(90));
        z-index: 900;
    }

    @include u.responsive(lg) {
        #header__nav {
            position: fixed;
            top: u.rem(90);
            right: -100vw;
            width: 70vw;
            height: calc(100vh - u.rem(90));
            background: v.$Color_White;
            padding: u.rem(60);
            transition: right 0.3s;
            z-index: 999;
            display: block !important;
        }

        #header__nav.active {
            right: 0;
        }

        &__menu {
            flex-direction: column;
            align-items: flex-start;
            gap: u.rem(60);
        }

        .hamburger,
        .search__icon {
            display: block;
        }

        .header__search {
            display: none;
        }
    }

    @include u.responsive(sm) {
        #header__nav {
            width: 100%;
        }
    }

    .search__wrap {
        position: fixed;
        top: u.rem(90);
        left: 0;
        width: 100%;
        height: 35vh;
        background-color: v.$Color_White;
        border-top: 2px solid v.$Color_Silver;
        padding: u.rem(30) u.rem(65);
        z-index: 1500;
        transform: translateY(-100%);
        transition: transform 0.3s, opacity 0.3s, visibility 0.2s;
        @include u.flex(flex, center, start, column);
        visibility: hidden;
        opacity: 0;
    }

    .search__wrap.active {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }

    .search__input-group {
        @include u.flex(flex, space-between, center);
        width: 100%;
        padding: u.rem(20) u.rem(30);
        border: 1px solid v.$Color_L_Grey;
        border-radius: 50px;
        margin: u.rem(25) 0;

        input {
            @include u.btnReset();
            width: 100%;
        }

        button {
            @include u.btnReset();
            font-size: u.rem(18);
        }
    }

    .search__title {
        font-size: 1rem;
        font-weight: 500;
        width: 100%;
    }

    .search__tags {
        display: flex;
        gap: u.rem(10);
        margin-top: u.rem(15);
        overflow-x: auto;
        flex-wrap: nowrap;
        padding-bottom: u.rem(10);
        width: 100%;

        &::-webkit-scrollbar {
            height: u.rem(6);
        }

        &::-webkit-scrollbar-thumb {
            background-color: v.$Color_L_Grey;
            border-radius: u.rem(3);
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        .tag {
            padding: u.rem(10) 1rem;
            border-radius: u.rem(50);
            border: 1px solid v.$Color_L_Grey;
            background: none;
            cursor: pointer;
            white-space: nowrap;
            flex-shrink: 0;
        }
    }
}

.footer {
    width: 100%;
    background-color: v.$Color_Foot_Black;
    padding: u.rem(110) 0;
    margin-top: u.rem(160);
    color: v.$Color_Silver;

    &__container {
        @include u.flex(flex, space-between, center);
        font-weight: 400;
        font-size: u.rem(16);
        gap: u.rem(10);
    }

    &__left {
        @include u.flex($flexDirection: column);
        gap: u.rem(24);
    }

    &__policy {
        @include u.flex();
        gap: u.rem(10);

        &:first-child {
            border-right: 1px solid v.$Color_Silver;
        }
    }

    &__right {
        @include u.flex(flex, baseline, flex-end, column);
        gap: u.rem(20);
    }

    &__menu {
        @include u.flex(flex, baseline, stretch, column);
    }

    &__sns {
        @include u.flex();
        gap: u.rem(20);
    }

    @include u.responsive(sm) {
        &__container {
            @include u.flex(flex, baseline, start, column);
            gap: u.rem(40);
            font-size: u.rem(14);
        }

        &__menu,
        &__right {
            @include u.flex(flex, baseline, start, column);
        }
    }
}