@use './utils' as u;

// header, footer, container

.container {
    max-width: 1600px;
    width: 100%;
    padding: 0 u.rem(20);
    margin: 0 auto;
    overflow: hidden;

    @include u.responsive(xxl) {
        max-width: 100%;
    }
}