// flex mixin
@mixin flex($display: flex, $justifyContents: baseline, $alignItems: stretch) {
    display: $display;
    justify-content: $justifyContents;
    align-items: $alignItems;
}

// center mixin
@mixin center($position: absolute, $top: 50%, $left: 50%, $transform: translate(-50%, -50%)) {
    position: $position;
    top: $top;
    left: $left;
    transform: $transform;
}

// img mixin
@mixin img($width: 100%, $height: auto, $objectFit: cover) {
    width: $width;
    height: $height;
    object-fit: $objectFit;
}

// background img mixin
@mixin bgimg($background-position: center, $background-repeat: no-repeat, $background-size: cover) {
    background-position: $background-position;
    background-repeat: $background-repeat;
    background-size: $background-size;
}