@use '../variables' as v;
@use '../mixin' as m;
@use '../function' as f;

.key {
    width: 100%;
    color: v.$Color_Head_Black;
    position: relative;

    &__arrow--prev,
    &__arrow--next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }

    .swiper-button-next {
        display: none;
    }

    &__arrow--prev {
        left: calc(50% - f.rem(800));
    }

    &__arrow--next {
        right: calc(50% - f.rem(800));
    }

    &__container {
        position: relative;
    }

    &__img {
        position: absolute;
        bottom: 0;
        right: f.rem(20);
        width: 900px;
        height: auto;

        img {
            @include m.img();
        }
    }

    &__card {
        background: v.$Color_L_Primary;
    }

    &__text-wrap {
        padding: f.rem(170) f.rem(20);
    }

    &__title {
        font-size: f.rem(50);
        font-weight: 600;
    }

    &__desc {
        font-size: f.rem(24);
        font-weight: 500;
        color: v.$Color_Conts_Black;
        padding: f.rem(4) 0 f.rem(20);
    }

    &__button {
        display: inline-block;
    }
}