@use '../variables' as v;
@use '../utils.scss' as u;
@use '../layout' as l;

.key {
    width: 100%;
    color: v.$Color_Head_Black;
    position: relative;

    &__arrow {
        position: absolute;
        top: 50%;
        width: u.rem(16);
        height: u.rem(26);
        transform: translateY(-50%);
        z-index: 10;
        @include u.bgimg();
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        content: '';
    }

    &__arrow--prev {
        left: calc(50% - u.rem(800));
        background-image: url(/assets/images/Btn_Banner_Prev.png);
    }

    &__arrow--next {
        right: calc(50% - u.rem(800));
        background-image: url(/assets/images/Btn_Banner_Next.png);
    }

    @include u.responsive(xl) {
        .key {
            &__arrow--prev {
                left: u.rem(20);
            }

            &__arrow--next {
                right: u.rem(20);
            }
        }
    }

    @include u.responsive(lg) {
        .key {
            &__arrow {
                display: none;
            }
        }
    }

    &__container {
        position: relative;
    }

    &__card {
        background: v.$Color_L_Primary;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            background: linear-gradient(to bottom,
                    rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 1) 100%);
            opacity: 0.2;
            mix-blend-mode: multiply;
            pointer-events: none;
            z-index: 1;
        }
    }

    &__text-wrap {
        padding: u.rem(170) u.rem(40);
        z-index: 2;
    }

    &__title {
        font-size: u.rem(50);
        font-weight: 600;
    }

    &__desc {
        font-size: u.rem(24);
        font-weight: 500;
        color: v.$Color_Conts_Black;
        padding: u.rem(4) 0 u.rem(20);
    }

    &__button {
        display: inline-block;
    }

    &__img {
        position: absolute;
        bottom: 0;
        right: u.rem(20);
        width: 900px;
        height: 100%;

        img {
            @include u.img(100%, 100%);
            z-index: 0;
        }
    }
}

.popular,
.category {
    &__swiper {
        width: 100%;
    }

    &__button-wrap {
        @include u.flex();
        gap: u.rem(10);
        margin-bottom: u.rem(20);
    }

    &__swiper-week,
    &__swiper-month {
        display: none;
    }
}