@use '../variables' as v;
@use '../utils.scss' as u;
@use '../layout' as l;

.key {
    width: 100%;
    color: v.$Color_Head_Black;
    position: relative;

    &__arrow {
        position: absolute;
        top: 50%;
        width: u.rem(16);
        height: u.rem(26);
        transform: translateY(-50%);
        z-index: 10;
        @include u.bgimg();

        &--prev {
            left: calc(50% - u.rem(800));
            background-image: url(/assets/images/Btn_Banner_Prev.png);
        }

        &--next {
            right: calc(50% - u.rem(800));
            background-image: url(/assets/images/Btn_Banner_Next.png);
        }

        @include u.responsive(xxl) {
            &--prev {
                left: u.rem(20);
            }

            &--next {
                right: u.rem(20);
            }
        }

        @include u.responsive(lg) {
            display: none;
        }
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        content: '';
    }

    &__container {
        position: relative;
        z-index: 0;
    }

    &__card {
        background: v.$Color_L_Primary;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            background: linear-gradient(to bottom,
                    rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 1) 100%);
            opacity: 0.2;
            mix-blend-mode: multiply;
            pointer-events: none;
            z-index: 1;
        }
    }

    &__text-wrap {
        position: relative;
        padding: u.rem(170) u.rem(40);
        z-index: 2;

        @include u.responsive(lg) {
            padding: u.rem(120) 0 u.rem(500);
            text-align: center;
        }
    }

    &__title {
        font-size: u.rem(50);
        font-weight: 600;
    }

    &__desc {
        font-size: u.rem(24);
        font-weight: 500;
        color: v.$Color_Conts_Black;
        padding: u.rem(4) 0 u.rem(20);
    }

    &__button {
        display: inline-block;
    }

    &__img {
        position: absolute;
        bottom: 0;
        right: u.rem(100);
        width: u.rem(800);
        height: auto;
        z-index: 0;
        transition: 0.3 all ease;

        img {
            @include u.img(100%, 100%);
            z-index: 0;
            display: block;
        }

        @include u.responsive(xxl) {
            right: u.rem(20);
            width: u.rem(740);
        }

        @include u.responsive(xl) {
            // right: u.rem(20);
            // width: u.rem(680);

            mask-image: linear-gradient(to right, transparent 0%, black 20%);
            -webkit-mask-image: linear-gradient(to right, transparent 0%, black 20%);
        }

        @include u.responsive(lg) {
            width: u.rem(740);
            left: 50%;
            right: auto;
            transform: translateX(-50%);
            mask-image: none;
            -webkit-mask-image: none;
        }
    }
}

.popular,
.category {
    &__button-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    &__swiper {
        width: 100%;
        display: none;

        &:first-child {
            display: block
        }

        .swiper-slide {
            width: u.rem(290)
        }
    }


    &__button-wrap {
        @include u.flex();
        gap: u.rem(10);
        margin-bottom: u.rem(20);
    }

    &__swiper-week,
    &__swiper-month {
        display: none;
    }
}

.category {
    &__swiper {
        overflow: visible !important;
        position: relative;
    }

    &__arrow {
        position: absolute;
        top: 30%;
        width: u.rem(48);
        height: u.rem(48);
        z-index: 10;
        @include u.bgimg(center, no-repeat, contain);
        transition: 0.3s all ease;

        &:hover {
            transform: scale(1.1);
        }

        .disabled {
            opacity: 0.2 !important;
            cursor: not-allowed;
        }

        @include u.responsive(md) {
            display: none;
        }
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        content: '';
    }

    &__arrow--prev {
        background-image: url(/assets/images/Btn_theme_prev.png);
    }

    &__arrow--next {
        background-image: url(/assets/images/Btn_theme_next.png);
    }
}

.artist {
    &__wrap {
        display: flex;
        gap: u.rem(20);
        width: 100%;
        height: auto;
    }

    &__card {
        @include u.bgimg();
        max-width: u.rem(290);
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 1rem;
        position: relative;
        border: 1px solid v.$Color_L_Grey;

        p {
            position: absolute;
            right: u.rem(10);
            bottom: u.rem(10);
            border-radius: u.rem(50);
            background-color: v.$Color_Primary;
            padding: u.rem(7) u.rem(15);
            color: v.$Color_Conts_Black;
        }
    }
}

.event {
    &__wrap {
        display: flex;
        gap: u.rem(20);
    }

    &__list {
        flex: 1;
        display: flex;
        @include u.bgimg();
        aspect-ratio: 16 / 6;
        width: 100%;
        height: 100%;
        min-height: u.rem(200);
        border-radius: 1rem;

        a {
            width: 100%;
            height: 100%;
            padding: u.rem(30);
        }
    }

    &__list01 {
        background-image: url(../images/event01.webp);
    }

    &__list02 {
        background-image: url(../images/event02.webp);
    }

    &__textwrap {
        font-weight: 500;
        width: 100%;
        height: 100%;
        word-break: keep-all
    }

    &__textwrap01 {
        @include u.flex(flex, space-between, end);
        text-align: end;
        width: 100%;
        height: 100%;
    }

    &__textwrap02 {
        color: v.$Color_White;
        @include u.flex(flex, space-between, flex-start);
        flex-direction: column;
        height: 100%;
    }

    &__list-title {
        font-size: u.rem(32);
    }

    &__list-desc,
    &__date {
        font-size: u.rem(20);
    }

    @include u.responsive(xxl) {
        &__list-title {
            font-size: u.rem(28);
        }
    }

    @include u.responsive(lg) {
        &__wrap {
            flex-direction: column;
        }

        &__list {
            min-height: u.rem(160);
            aspect-ratio: 16 / 4;

        }

        &__list-title {
            font-size: u.rem(26);
        }
    }



    @include u.responsive(md) {
        &__list a {
            padding: u.rem(20);
        }

        &__list-title {
            font-size: u.rem(24);
        }

        &__list-desc,
        &__date {
            font-size: u.rem(18);
        }
    }

    @include u.responsive(sm) {
        &__list a {
            padding: u.rem(15);
        }

        &__list-title {
            font-size: u.rem(20);
        }

        &__list-desc,
        &__date {
            font-size: u.rem(16);
        }
    }
}