@use '../variables' as v;
@use '../utils.scss' as u;
@use '../layout' as l;

.search {
    width: 100%;

    &__bar {
        @include u.flex(flex, center, center);

        form {
            width: 100%;
            max-width: u.rem(895);
            gap: u.rem(10);
            padding: u.rem(24);
            border-radius: 50px;
            border: 1px solid v.$Color_D_Grey;
            @include u.flex();

            input {
                width: 100%;
                flex: 1;
                @include u.btnReset();
                font-size: u.rem(20);
            }

            button {
                flex-shrink: 1;
                @include u.btnReset();
                font-size: u.rem(20);
            }
        }
    }

    .no-result {
        font-size: 1rem;
        text-align: center;
        padding: u.rem(40) 0;
        color: v.$Color_D_Grey;
    }
}